.login {
  text-align: center;
}

.login p {
  color: #aaa;
}

.google_login {
  margin-top: 20px;
}

.buttons_container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.google_btn {
  background-color: #4285f4;
  color: #fff;
}

.google_btn:hover {
  background-color: #357ae8;
}